<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>

    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

<!--     <div class="container">
      <div class="row" style="height:50px">
        <div class="col-sm-6 bs-tertiary-bg" >
          
        </div>
        <div class="col-sm-6">
          
        </div>

      </div>
    </div>

    <div id="all">
 -->
        

        {{ partial "nav.html" . }}

        <div id="main-Logo" 
             style="height: 800px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-image: url('img/old/together.jpg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;">
                
                    <img src="img/old/MigrationPlus_Logo_Centered.png" 
                         alt="{{ .Title }} logo" 
                         class="hidden-xs hidden-sm" 
                         style="margin-top: 350px; 
                                height: 40%;"/>
        </div>

        <div id="general-text" 
             class="single-container centered"
             style="background-color: #E8E6E6;">
          <h1 class="title" style="font-size: 47px;">
            Heimat ist da, wo man sich wohlfühlt
          </h1>
          <p class="text" 
             style="margin-left: 27%; 
                    margin-right: 27%;
                    font-size:16px; 
                    line-height:1.8em; 
                    letter-spacing:normal;
                    font-size:18px;">
            In einer Welt, in der viele Kinder und Jugendliche in emotionaler und finanzieller Armut aufwachsen und unter fehlender Chancengleichheit leiden, möchten wir mit MigrationPlus einen entscheidenden Unterschied in ihrer Entwicklung machen. Unsere Vision ist ein Verein, der sozial benachteiligte Zielgruppen in den Mittelpunkt stellt und durch eine passgenaue, ziel- und lösungsorientierte sowie menschliche Unterstützung durch besonders herausfordernde Lebenssituationen begleitet. Wir stoßen Prozesse an, die die Chancen von jungen Menschen auf dauerhafte soziale und berufliche Teilhabe fördern, unabhängig von ihrer Herkunft.
          </p>
        </div>

        <div class="centered text-titles">
            Unsere Handlungsschwerpunkte
        </div>

        <div id="two-col-1" class="two-col-container" style="height: 600px">
          <div id="l-txt-1-1" 
               class="col-sm-6 col-sm-12 centered"
               style="background-image: url('img/old/background4.jpg');
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: auto;
                      padding-top: 7%;
                      padding-bottom: 10%;">
              <h3 class="title" 
                  style="color: #4BD1A0; 
                         font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;">
                Partizipation
              </h3>
            <div id="Partizipation-txt"
                 class="text-paragraph-blue"
                 style="opacity: 80%;">
              <p class="text" style="color: #FFFFFF;">
                Stärkung der Partizipation und Teilhabe von Kindern und Jugendlichen mit Migrationshintergrund
                <br><br>
                Durch ein attraktives und abwechslungsreiches Vereinsangebot möchten wir Kinder und Jugendliche dazu motivieren sich aktiv im Vereinsleben einzubringen, gesellschaftlich zu engagieren und Dinge selbst in die Hand zu nehmen.
                <br>
                Partizipation steht für die Idee eines aktiven Mitgestaltens und der dafür erforderlichen Chancengerechtigkeit in allen gesellschaftlichen Bereichen.
              </p>
            </div>
          </div>
          <div id="l-txt-1-2" 
               class="col-sm-6 col-sm-12 centered"
               style="background-image: url('img/old/background3.jpg');
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: auto;
                      padding-top: 8%;
                      padding-bottom: 10%;">
              <h3 class="title" 
                  style="color: #FFFFFF; 
                         font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;">
                Erziehung und Bildung
              </h3>
            <div id="Partizipation-txt"
                 class="text-paragraph-blue"
                 style="opacity: 85%;">
              <p class="text" style="color: #FFFFFF;">
                Langfristige Chancengleichheit durch niedrigschwellige und außerschulische Bildungsangebote
                <br><br>
                insbesondere für Schülerinnen und Schüler aus einem sozial angespannten Umfeld sind ergänzende außerschulische Bildungsangebot enorm wichtig. Kinder und Jugendliche sollen ihr wertvolles Potenzial entdecken und entwickeln können. Wir fördern und begleiten sie dabei, tragfähige Werte und hilfreiche Strukturen für Ihr Leben umzusetzen.
              </p>
            </div>
          </div>
        </div>

        <div id="two-col-2" class="two-col-container" style="height: 500px; background-color: blue;">
          <div id="l-txt-2-1" 
               class="centered col-left"
               style="background-image: url('img/old/background2.jpg');
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: auto;
                      padding-top: 7%;
                      padding-bottom: 10%;">
              <h3 class="title" 
                  style="color: #4BD1A0;
                         font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;">
                Integration
              </h3>
            <div id="Partizipation-txt"
                 class="text-paragraph-gray"
                 style="opacity: 80%;">
              <p class="text" style="color: #FFFFFF;">
                Erfolgreiche Integration beginnt im frühen Kindesalter
                <br><br>
                Mit unserer Arbeit möchten wir Perspektivwechsel bei Kindern, Jugendlichen und Erwachsenen ermöglichen und sie in einer Haltung der Weltoffenheit, der aktiven Toleranz und der körperlichen wie psychischen Gewaltvermeidung stärken.
              </p>
            </div>
          </div>
          <div id="l-txt-2-2" 
               class="centered col-right"
               style="background-image: url('img/old/background1.jpg');
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: auto;
                      padding-top: 8%;
                      padding-bottom: 10%;">
              <h3 class="title" style="color: #FFFFFF; font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;">
                Ferienspiel und Freizeit
              </h3>
            <div id="Partizipation-txt"
                 class="text-paragraph-gray"
                 style="opacity: 70%;">
              <p class="text" style="color: #FFFFFF;">
                Vereinsarbeit macht Spaß
                <br><br>
                Unter dem Motto „Vereinsarbeit macht Spaß“ werden Aktivitäten zusammengefasst, die gemeinsame Ausflüge.
              </p>
            </div>
          </div>
        </div>

        <div class="centered text-titles">
            Betreuungszeiten
        </div>

        <div id="two-col-3" class="two-col-container" style="height: 600px;">
          <div id="l-txt-3-1" 
               class="centered col-left"
               style="padding-top: 7%;
                      padding-bottom: 10%;">
              <h3 class="title" 
                  style="color: #2B2B2B;
                         opacity: 95%;
                         font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;">
                Aktuelles
              </h3>
            <div id="Partizipation-txt"
                 style="opacity: 80%;
                        padding-left: 10%;
                        padding-right: 10%;">

              <p class="text" 
                 style="font-size:20px; 
                        line-height:1.8em;
                        font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
                        font-weight: bold;">
                Hausaufgabenbetreuung in Setterich für Kinder bis zur 7. Klasse
                Der Unterricht findet in Kleingruppen von bis zu fünf Kindern statt. Unsere qualifizierten und motivierten Betreuer decken unterschiedliche fachliche Schwerpunkte ab. Mit einem individuell zugeschnittenen Lernkonzept gehen wir auf unsere Schüler*innen ein, geben ihnen Rückhalt, ermöglichen ihnen Erfolgserlebnisse in einem angstfreien Umfeld.
                Unser Kernangebot deckt die Fächer Mathematik, Deutsch und Englisch ab.
              </p>
            </div>
          </div>
          <div id="l-txt-3-2" 
               class="centered col-right"
               style="border-left: 1px solid black;
                      padding-top: 8%;
                      padding-bottom: 10%;">
              <h3 class="title" 
                  style="color: #2B2B2B;
                         opacity: 95%; 
                         font-size: 25px; 
                         font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;">
                Montags bis donnerstags
              </h3>
            <div id="Partizipation-txt"
                 style="opacity: 80%;
                        padding-left: 10%;
                        padding-right: 10%;">
              <p class="text" 
                 style="font-size:20px; 
                        line-height:1.8em;
                        font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
                        font-weight: bold;">
                von 15:00 bis 16:30
                <br><br>
                Wenn Du Interesse hast, dann ruf uns an oder schreib uns eine Mail.
              </p>
            </div>
          </div>
        </div>

<!--         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
                crossorigin="anonymous">
                  
        </script> -->

        <!-- {{ partial "features.html" . }} -->

        <!-- {{ partial "testimonials.html" . }} -->

        <!-- {{ partial "see_more.html" . }} -->

        <!-- {{ partial "recent_posts.html" . }} -->

        <!-- {{ partial "clients.html" . }} -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
